<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Firebase</title>
    <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
</head>
<body>

<form action="/" id="form">
    <input type="text" name="email" id="email">
    <input type="text" name="password" id="password">
    <input id="login" type="submit" value="submit">
</form>

<div id="result"></div>


<script src="../static/createApp.js"></script>
<script src="../static/index.js"></script>

</body>
</html>